{% extends "posApp/base.html" %} {% load humanize %} {% block pageContent %}


<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-secondary"><a href="{% url 'customer-page' %}" style="color: white;">Back</a></button>
            <h3 class="card-title mb-0">Searched Result</h3>
           
           
        </div>
    </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
    <div class="mdc-card py-2">
        <div class=" justify-content-between align-items-center">
            <span class="card-title mb-0">Purchases: {{total_sales}}   <small>PKR</small></span> <br>
            <span class="card-title mb-0">Payment: {{total_payment}}   <small>PKR</small></span><br>
            <span class="card-title mb-0">Udhaar: {{total_udhaar}}   <small>PKR</small></span><br>
            <span class="card-title mb-0">No of sales: {{length}} </span>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        
        
        <div class="table-responsive">
            <table class="table table-bordered bg-light">
                <!-- <colgroup>
                    <col width="3%">
                    <col width="13%">
                    <col width="9%">
                    <col width="12%">
                    <col width="8%">
                    
                    <col width="8%">
                    <col width="8%">
                    <col width="12%">
                    <col width="10%">
                    <col width="3%">
                    <col width="10%">
                    <col width="8%">
                </colgroup> -->
                <thead>
                    <tr>
                        <th class="text-center py-1" scope="col">#</th>
                        <th class="text-center py-1" scope="col">Customer Name</th>
                        <th class="text-center py-1" scope="col">Customer Mobile</th>
                        <th class="text-center py-1" scope="col">Trans. Code</th>
                        <th class="text-center py-1" scope="col">Sub_Total</th>
                        
                        <th class="text-center py-1" scope="col">Disc_Amount</th>
                        <th class="text-center py-1" scope="col">Total</th>
                        <th class="text-center py-1" scope="col">Payment</th>
                        <th class="text-center py-1" scope="col">Udhaar</th>
                        <th class="text-center py-1" scope="col">Items</th>
                        <th class="text-center py-1" scope="col">DateTime</th>
                        <th class="text-center py-1" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in search %}
                    <tr>
                        <th class="px-2 py-1 text-center" scope="row">{{ result.id }}</th>
                        <td class="px-2 py-1 text-center">{{ result.name }}</td>
                        <td class="px-2 py-1 text-center">{{ result.mobile }}</td>
                        <td class="px-2 py-1 text-start">{{ result.code }}</td>
                        <td class="px-2 py-1 text-end">{{ result.sub_total|intcomma }}</td>
                        <td class="px-2 py-1 text-end">{{ result.disc_amount|intcomma:2 }}</td>
                        <td class="px-2 py-1 text-end">{{ result.grand_total|intcomma }}</td>
                        <td class="px-2 py-1 text-end">{{ result.payment|intcomma }}</td>
                        <td class="px-2 py-1 text-end">{{ result.udhaar|intcomma }}</td>
                        <td class="px-2 py-1 text-center">{{ result.item_count|intcomma }}</td>
                        <td class="px-2 py-1 text-start">{{ result.date_added|date:"F j, Y g:i A" }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="{{ result.id }}" title="View Receipt">
                                <i class="material-icons mdc-button__icon">receipt</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ result.id }}" data-code="{{ result.code }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.view-data').click(function() {
            uni_modal("Transaction's Receipt", "{% url 'receipt-modal' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete <b>" + $(this).attr('data-code') + "</b> Transaction record?", "delete_sale", [$(this).attr('data-id')])
        })

    })

    function delete_sale($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-sale' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}